

.Intro-Caption{
	padding: 10% 0 20% 0;
	color: white;
	
}
.IntroBack{
	background-color: #121110;
	width: 40%;
	padding: 1%;
	text-align: center;
}

.Intro-Con{
	margin: 0 5% 0 5%;
}
