<<<<<<< Updated upstream
.Main-Container{
  
  height: 100%;
  margin-top: 10%;
}

=======
.Main-Container{
  
  height: 100%;
  margin-top: 10%;
}

html{
  font-size: 100%;
  box-sizing: border-box;
}

>>>>>>> Stashed changes
